@page "/fetchdata"
@using BlazorApp.Shared
@using System.Text.Json
@inject HttpClient Http

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (teams == null)
{
    <p class="@statucCss"><em>@statusText</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Team</th>
                <th>Conference</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var team in teams)
            {
                <tr>
                    <td>@team.Market @team.Name</td>
                    <td>@team.Conference.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Team[] teams;
    private string statusText = "Loading ...";

    private string statucCss = "";
    protected override async Task OnInitializedAsync()
    {
        try
        {
            statusText = "Loading ...";
            statucCss = "alert alert-light";
            teams = (await Http.GetFromJsonAsync<IEnumerable<Team>>("/api/Teams", new JsonSerializerOptions()
            {
                PropertyNameCaseInsensitive = true
            })).ToArray();
            statusText = "";
        }
        catch (Exception e)
        {
            statucCss = "alert alert-danger";
            statusText = e.Message;
        }
    }

}