@page "/fetchdata"

@inject HttpClient Http
@attribute [Authorize()]

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (teams == null)
{
    <p class="@statucCss"><em>@statusText</em></p>
}
else
{
    <label for="inputState">State</label>
    <select id="inputState" class="form-control" @onchange="ConfChange">
        @foreach (var conf in conferences)
        {
            <option value="@conf.Id">@conf.Name</option>
        }
    </select>
    <table class="table">
        <thead>
            <tr>
                <th>Team</th>
                <th>Conference</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var team in teams)
            {
                <tr>
                    <td>@team.Market @team.Name</td>
                    <td>@team.Conference.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Team[] teams;
    private string statusText = "Loading ...";
    private Conference[] conferences;
    private string statucCss = "";

    private void ConfChange()
    {

    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            statusText = "Loading ...";
            statucCss = "alert alert-light";
            teams = (await Http.GetFromJsonAsync<IEnumerable<Team>>("/api/Teams", new JsonSerializerOptions()
            {
                PropertyNameCaseInsensitive = true
            })).OrderBy(x => $"{x.Market} {x.Name}").ToArray();

            conferences = teams.Select(t => t.Conference)
                .Distinct(new ConferenceComparer())
                .OrderBy(x => x.Name)
                .ToArray();
            statusText = "";
        }
        catch (Exception e)
        {
            statucCss = "alert alert-danger";
            statusText = e.Message;
        }
    }


}